<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pap.queropizza3">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:background="@drawable/fundo_vermelho_textura"
        android:icon="@drawable/pizza_icon"
        android:label="Quero Baggio"
        android:supportsRtl="true"
        android:theme="@style/BaggioTheme">
        <activity
            android:name=".activities.MainActivity"
            android:background="@drawable/fundo_vermelho_textura"
            android:label="Quero Baggio"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EstabelecimentoActivity"
            android:label="@string/title_activity_estabelecimento"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EntregaActivity"
            android:label="@string/title_activity_entrega"
            android:parentActivityName=".activities.EstabelecimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.EstabelecimentoActivity" />
        </activity>
        <activity
            android:name=".activities.ClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GrupoActivity"
            android:label="@string/title_activity_grupo"
            android:parentActivityName=".activities.EntregaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.EntregaActivity" />
        </activity>
        <activity
            android:name=".activities.TamanhoActivity"
            android:label="@string/title_activity_tamanho"
            android:parentActivityName=".activities.PizzaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.PizzaActivity" />
        </activity>
        <activity
            android:name=".activities.BebidaActivity"
            android:label="@string/title_activity_bebida"
            android:parentActivityName=".activities.GrupoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.GrupoActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PizzaActivity"
            android:label="@string/title_activity_pizza"
            android:parentActivityName=".activities.GrupoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.GrupoActivity" />
        </activity>
        <activity
            android:name=".activities.ComplementoActivity"
            android:label="@string/title_activity_complemento"
            android:parentActivityName=".activities.GrupoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.GrupoActivity" />
        </activity>
        <activity
            android:name=".activities.EstabelecimentoDetalheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PagamentoActivity"
            android:label="@string/title_activity_pagamento"
            android:parentActivityName=".activities.CheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.CheckActivity" />
        </activity>
        <activity
            android:name=".activities.CheckActivity"
            android:label="@string/title_activity_check"
            android:parentActivityName=".activities.GrupoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.GrupoActivity" />
        </activity>
        <activity android:name=".activities.CalculaPizzaActivity"></activity>
    </application>

</manifest>