<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pap.queropizza3">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:background="@drawable/fundo_vermelho_textura"
        android:icon="@drawable/pizza_icon"
        android:label="Quero Baggio"
        android:supportsRtl="true"
        android:theme="@style/BaggioTheme">
        <activity
            android:name=".activities.MainActivity"
            android:background="@drawable/fundo_vermelho_textura"
            android:label="Quero Baggio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EstabelecimentoActivity" />
        <activity android:name=".activities.RetiradaActivity" />
        <activity android:name=".activities.ClienteActivity" />
        <activity android:name=".activities.GrupoActivity" />
        <activity android:name=".activities.TamanhoActivity" />
        <activity android:name=".activities.BebidaActivity" />
        <activity android:name=".activities.CheckoutActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.PizzaActivity" />
        <activity android:name=".activities.ComplementoActivity" />
        <activity android:name=".activities.EstabelecimentoDetalheActivity" />
        <activity android:name=".activities.PagamentoActivity" />
        <activity
            android:name=".activities.CheckActivity"
            android:label="@string/title_activity_check"
            android:parentActivityName=".activities.GrupoActivity"
            android:theme="@style/BaggioTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pap.queropizza3.activities.GrupoActivity" />
        </activity>
    </application>

</manifest>